/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-color: #f5f4fa;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
}

/* header */

.list,
ul {
  list-style: none;
}

.logo,
.site-nav a,
.contacts a {
  color: var(--title-text-color);
}

.site-nav a:focus,
.site-nav a:hover,
.contacts a:focus,
.contacts a:hover,
.logo-item {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: ;
}
.hero .link {
  color: ;
}

/* main */
.section-title {
  color: var(--title-text-color);
}

.features-list .title {
}

.comand-list .title {
}

.button {
  color: var(--title-text-color);
  background-color: var(--second-color);
}
