/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-color: #f5f4fa;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
}

.list,
ul {
  list-style: none;
}

/* header */

.logo,
.site-nav a {
  color: var(--title-text-color);
}
.contacts-list a {
  color: currentColor;
}

.site-nav a:focus,
.site-nav a:hover,
.contacts-list a:focus,
.contacts-list a:hover,
.logo-item {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: ;
}
.hero .link {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

/* main */
.section-title {
  color: var(--title-text-color);
}

/* example */
.features-list .section-title {
}

.comand-list .section-title {
}

/* button  */
.button button {
  color: var(--title-text-color);
  background-color: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button button:hover,
.button button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}
